---
import Layout from '../layouts/Layout.astro';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Home from "./Home.svelte";

import "../app.css"

let allPosts = await Astro.glob('./news/p-*.md');
allPosts.reverse();
allPosts = allPosts.slice(0, 5);

let fiveNames = [], fiveUrls = [], fiveDates = [];
allPosts.map(posts => {fiveNames.push(posts.frontmatter.title); fiveUrls.push(posts.url); fiveDates.push(posts.frontmatter.pubDate)})
---

<Layout title="东南大学开源镜像站 / SEU Mirrors">
	<Header location = "/"/>
	<div class="caddy-wrapper flex flex-wrap bg-white text-neutral-900 gap-0 lg:divide-x max-lg:divide-y caddy-main grow">
		<Home postsNames={fiveNames} postsUrls={fiveUrls} postsDates={fiveDates} client:only="svelte"/>
	</div>
	<Footer/>
</Layout>
