---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import MirrorStatus from "../components/MirrorStatus.svelte";
import "../app.css";
---

<Layout title="同步状态">
  <Header />
  <div
    class="caddy-wrapper flex flex-wrap bg-white text-neutral-900 gap-0 lg:divide-x max-lg:divide-y caddy-main grow">
    <MirrorStatus client:only="svelte" />
  </div>
  <Footer />
</Layout>
