---
import { ArrowUpRight, Icon } from "svelte-hero-icons";

const { href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener" class="inline-flex items-center">
  <slot />
  <Icon src={ArrowUpRight} class="h-4 w-4" mini />
</a>
