---
    import { ArrowUpRight, Icon } from "svelte-hero-icons"

    const {href, date} = Astro.props;
---
    ●&nbsp;
<a href={href} class="inline-flex items-center">
    <slot></slot> <Icon src={ArrowUpRight} class="h-4 w-4 ml-0.5" mini/>
</a>
{ date }
<br />