---
const { news } = Astro.props;
---

<a href={`/news/${news.slug}/`} class="inline-flex items-center">
  {news.data.title}
</a>

<span class="text-sm text-gray-700"> - {news.data.pubDate.toISOString().slice(0, 10).replaceAll('-', '/')}</span>
